* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Serif', serif;
}

html {
	scroll-behavior: smooth;

}
.bg1{
	
	background-image: url(./images/bg1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.bg2 {
	background-image: url(./images/bg2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.bg3 {
	background-image: url(./images/bg3.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.bg4{
	background-image: url(./images/bg4.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

div > a > .fab{
	font-size: 4.5rem;
}
nav > a > .fas{
	font-size: 2rem;
}

#profile > img{
	height: 25vh;
	width: 25vh;
}

#gmap_canvas {
	height: 60vh;
	width: 100%;
}
